
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="{% static "taskList/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "taskList/breakline.css" %}" rel="stylesheet" type="text/css">
    <title> {% block title %}Task List {% endblock %}</title>



  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li class="active">
              <a href="/">Home</a></li>
                         

            {% if user.username %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
              <li><a href="{% url 'user' user=user.id %}">My Profile</a></li>
              <li><a href="{% url 'edit_user' user=user.id %}">Edit My Profile</a></li>


            {% endif %}



          </ul>
        </div>
      </div>
    </nav>


 <div class="container theme-showcase" role="main">
      
      <div class="jumbotron">
        {% block pagetitle %}

        {% endblock %}
      </div>
      
      <div class="page-header">
    


{% for error in errors %}
    <div class="lead" style="color: red">
        {{error}}
    </div>
{% endfor %}

<div>
{% block introudction %}
{% endblock %}
</div>

<div>
  {% block content %}
  {% endblock %}
</div>


      </div>
    </div> 

  </body>
</html>

