{% extends "taskList/base.html" %}

{% block pagetitle %}
<h1>Login</h1>
<p>Use your username and password to login. If you didn't register, please register first! </p>
{% endblock %}
<div class="page-header">


    {% block content %}


    {% load widget_tweaks %}

    <form method="post" action="{% url 'login' %}">
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username|attr:"class:form-control" }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password|attr:"class:form-control" }}</td>
            </tr>
        </table>

        <input type="submit" value="Login" class="btn btn-default" />
        <a href="/taskList/register">Register</a>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>
    {% endblock %}


