{% extends "taskList/base.html" %}


{% block pagetitle %} <h1> Registration Form </h1>
<p1> Please register here if you didn't do so.</p1>
{% endblock %}



{%  block content %}
{% load widget_tweaks %}
<div class="form-group">
  <form method="post" action="{% url 'register' %}">
   {% for field in userform.visible_fields %}
   <div class="form-row">
    <div class="col-md-12">
      <div class="form-group">

        {{field.label_tag}}
        {{field|attr:"class:form-control"}}
        {% for error in field.errors %} 
        {{error}}
        {% endfor %}
      </div>

    </div>
  </div>
  {% endfor %}
  {% for field in regform.visible_fields %}
  <div class="form-row">
    <div class="col-md-12">
      <div class="form-group">

        {{field.label_tag}}
        {{field|attr:"class:form-control"}}
        {% for error in field.errors %} 
        {{error}}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% csrf_token %}

  <div class="form-row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="submit" value="Register" class="btn btn-default"/>
      </div>
    </div>
  </div>
</form>
</div>
{% endblock %}




