{% extends "taskList/base.html" %}
{% block pagetitle %}
{% endblock %}


{% block introudction %}
{% endblock %}


{% block content %}





<div class='row'>
    <div class='col-md-12' style='background: white; padding: 24px; border-radius: 3px; border: 1px lightgray solid; margin-bottom: 12px;'>
        <h3 style='margin-top: 0px; margin-bottom: 4px; padding-bottom: 4px; border-bottom: 1px lightgray solid;'>
            {{title}}</h3>
            {% for task in tasks %}
            <div style='display: flex; align-items: flex-start; margin-top: 12px; margin-bottom: 12px;'>
                <div style='width: 102px;'>
                    {% if task.priority == "HIG" %}
                    <span class="badge" style='background: hotpink;'>high priority</span>
                    {% elif task.priority == "MED" %}
                    <span class="badge" style='background: orange;'>median priority</span>
                    {% else %}
                    <span class="badge" style='background: royalblue;'>low priority </span>
                    {% endif %}
                </div>
                <div style='border-bottom: 1px lightgray solid; margin-left: 16px; padding-bottom: 12px; flex-grow: 1;'>
                    <div style='font-weight: bold;'>
                     <a href="{% url 'task' task=task.id %}">{{task.task_name}}
                     </a>
                 </div>
                 <div>
                    assigned to <span>
                    {% for user in task.assigned_users.all %}
                    {{user.username}}
                    {% endfor %}</span> by <span>
                    {% for manager in task.manager.all %}
                    {{manager.username}}
                    {% endfor %}</span>
                </div>
            </div>



        </div>
        {% endfor %}
    </div>
    <div style='width: 100%; text-align: center;'>
        Go to Page  
        {% for num in total_page_number %}
        <a href="{% url 'task_cat_page' task_cat=task_url page=num %}">
            {{num}} </a> |
            {% endfor %}

        </div>



        {% endblock %}
