{% extends "taskList/base.html" %}
{% block pagetitle %}
<h1>Task </h1>
{% endblock %}

{% block content %}
Edit or Delete the Task. 
{% if message %}
<div class="well" style="color: red; font-weight:bold;">
    {{ message }}
</div>
{% endif %}

{% load widget_tweaks %}

<div class="form-group">
    <form method="post" action="" class="form-horizontal">
        <div class="form-row">
            {{task_form.task_name.label_tag}}
            <div class="col-md-12">
                <div class="form-group">
                    {{task_form.task_name|attr:"class:form-control"}}
                    {{task_form.task_name.errors}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group" style='padding-right: 4px;'>
                    {{task_form.assigned_users.label_tag}}
                    {{task_form.assigned_users|attr:"class:form-control"}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style='padding-left: 4px;'>
                    {{task_form.manager.label_tag}}
                    {{task_form.manager|attr:"class:form-control"}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group" style='padding-right: 4px;'>
                    {{task_form.event_start_date.label_tag}}
                    <div style="display: flex; width: 100%; justify-content: space-between;">
                        {{task_form.event_start_date|attr:"class:form-group form-control"|attr:"style: width:33%; margin: 0px;"}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group" style='padding-left: 4px;'>
                    {{task_form.event_due_date.label_tag}}
                    <div style="display: flex; width: 100%; justify-content: space-between;">
                        {{task_form.event_due_date|attr:"class:form-group form-control"|attr:"style: width:33%; margin: 0px;"}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group" style='padding-right: 4px;'>
                    {{task_form.event_start_time.label_tag}}
                    {{task_form.event_start_time|attr:"class:form-control"}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group" style='padding-left: 4px;'>
                    {{task_form.event_end_time.label_tag}}
                    {{task_form.event_end_time|attr:"class:form-control"}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    {{task_form.recurring.label_tag}}
                    {{task_form.recurring|attr:"class:checkbox"|attr:"onClick:toggleRepeat(event)"}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12 taskRepeat">
                <div class="form-group">
                    {{task_form.repeats.label_tag}}
                    {{task_form.repeats|attr:"class:form-control"}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 taskRepeat">
                <div class="form-group" style='padding-right: 4px;'>
                    {{task_form.repeat_start_date.label_tag}}
                    <div style="display: flex; width: 100%; justify-content: space-between;">
                        {{task_form.repeat_start_date|attr:"class:form-group form-control"|attr:"style: width:33%; margin: 0px;"}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 taskRepeat">
                <div class="form-group" style='padding-left: 4px;'>
                    {{task_form.repeat_end_date.label_tag}}
                    <div style="display: flex; width: 100%; justify-content: space-between;">
                        {{task_form.repeat_end_date|attr:"class:form-group form-control"|attr:"style: width:33%; margin: 0px;"}}
                    </div>
                </div>
            </div>
        </div>        
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group" style='padding-right: 4px;'>
                    {{task_form.priority.label_tag}}
                    {{task_form.priority|attr:"class:form-control"}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group" style='padding-left: 4px;'>
                    {{task_form.status.label_tag}}
                    {{task_form.status|attr:"class:form-control"}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group" style='padding-right: 4px;'>
                    {{task_form.note.label_tag}}
                    {{task_form.note|attr:"class:form-control"|attr:"rows=3"}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group" style='padding-left: 4px;'>
                    {{task_form.feedback.label_tag}}
                    {{task_form.feedback|attr:"class:form-control"|attr:"rows=3"}}
                </div>
            </div>
        </div>

        {% for error in task_form.field.errors %} {{error.as_text}}
        {% endfor %}
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" name="update_one_task" value="Apply change only to this event" class="btn btn-default">
                    {%  if task.recurring %}
                    <input type="submit" name="update_all_task" value="Apply change to all events" class="btn btn-default">
                    {% endif %}
                    <input type="submit" name="delete_one_task" value="Delete this task" class="btn btn-default">
                    {%  if task.recurring %}
                    <input type="submit" name="delete_all_task" value="Delete all recurring task" class="btn btn-default">
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>


<p style="font-weight:bold;"> Individual Notes: </p>

{% for note in notes %}
<div>
    {{ note.text }} by {{note.auther}} at {{note.datetime}}
</div> 

{% endfor %}
<div class="form-group">
    <form method="POST" action="">
        <div class="form-row">
            <div class="form-group">
                {{note_form.text|attr:"class:form-control"}}
            </div>
            {% for error in field.errors %} {{error}}
            {% endfor %}
            {% csrf_token %}
        </div>
        <div class="form-row">
            <input type="submit" name="add_note" value="add note" class="btn btn-default">
        </div>
    </form>
</div>


<p style="font-weight:bold;"> Individual Feedbacks: </p>


{% for feedback in feedbacks %}
<div>
    {{ feedback.text }} by {{feedback.auther}} at {{feedback.datetime}}
</div> 
{% endfor %}


<div class="form-group">
    <form method="POST" action="">
        <div class="form-row">
            <div class="form-group">
                {{feedback_form.text|attr:"class:form-control"}}
            </div>
            {% for error in field.errors %} {{error}} {% endfor %}
            {% csrf_token %}
        </div>
        <div class="form-row">
            <input type="submit" name="add_feedback" value="add feedback" class="btn btn-default">
        </div>
    </form>
</div>

<script src="/static/taskList/index.js" type="text/javascript"></script>


{% endblock %}